<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.voyah.window">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application>


        <service
            android:name="com.voyah.window.service.FloatingWindowService"
            android:enabled="true"
            android:exported="true">

            <intent-filter>
                <action android:name="com.voyah.window.FLOATING_WIINDOW"/>
            </intent-filter>
        </service>

        <receiver
            android:name=".receiver.WindowBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.voyah.window.test.query" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="design_width_in_dp"
            android:value="2090"/>
        <meta-data
            android:name="design_height_in_dp"
            android:value="1306"/>

    </application>

</manifest>