<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.voyah.ai.engineer">

    <application>
        <activity
            android:name=".EngineerActivity"
            android:exported="true"
            android:enabled="true"
            android:launchMode="singleInstance"
            android:theme="@style/TranslucentTheme" />
    </application>

</manifest>