<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.voyah.aiwindow.sdk">

    <queries>
        <!--如果想要与其他的应用进行AIDL通信的话，需要在这里注册包名的信息-->
        <!--谷歌的文档说明 https://developer.android.google.cn/guide/topics/manifest/queries-element?hl=en-->
        <package android:name="com.voyah.aiwindow" />
    </queries>
</manifest>