<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.voyah.vcos.ttsservices"
    android:sharedUserId="android.uid.system">

    <!--android 9.0上使用前台服务，需要添加权限-->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <!-- 调用CarService需要的权限   -->
    <uses-permission android:name="mega.car.permission.CLIMATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <!--保持一个主进程需要权限-->
    <uses-permission
        android:name="android.permission.INTERACT_ACROSS_USERS_FULL"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name=".AppContext"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:persistent="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TtsServices">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <data android:scheme="hidden" />
            </intent-filter>
        </activity>

        <service
            android:name=".TTSService"
            android:enabled="true"
            android:exported="true"
            android:singleUser="true">
            <intent-filter>
                <action android:name=".TTSService" />
            </intent-filter>
        </service>

        <receiver android:name=".TTSBootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="com.voyah.vcos.ttsservices" />

                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </receiver>

        <service
            android:name=".MyAIDLService"
            android:exported="true"
            android:singleUser="true">
            <intent-filter>
                <action android:name="com.voyah.vcos.tts.aidlService" />
            </intent-filter>
        </service>

        <receiver
            android:name=".MyBroadcastReceiver"
            android:exported="true"
            android:singleUser="true">
            <intent-filter>
                <action android:name="com.voyah.tts.test" />
            </intent-filter>
        </receiver>

    </application>

</manifest>