<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.car.permission.CAR_CONTROL_AUDIO_VOLUME" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <application>
        <service
            android:name=".viewcmd.accessibility.VoiceAccessibilityService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>
        <receiver
            android:name=".media.receiver.BiliBroadcastReceiver"
            android:exported="true"
            android:singleUser="true">
            <intent-filter>
                <action android:name="bili.mediaSessionCallback.resultCode" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".media.receiver.TencentBroadcastReceiver"
            android:exported="true"
            android:singleUser="true">
            <intent-filter>
                <action android:name="com.tencent.qqlive.PLAY_STATE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".media.receiver.MiguPlayStatusBroadcastReceiver"
            android:exported="true"
            android:singleUser="true">
            <intent-filter>
                <action android:name="com.data.PLAYER_STATUS" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".media.receiver.TiktokBroadcastReceiver"
            android:exported="true"
            android:singleUser="true">
            <intent-filter>
                <action android:name="com.bytedance.byteautoservice.action.play.status" />
            </intent-filter>
        </receiver>
    </application>
</manifest>